@charset "UTF-8";
body {
  margin: 0;
  background: #000;
  color: #adff2f;
  font-family: sans-serif;
  text-align: center;
}

.glow {
  text-shadow:
    0 0 5px #adff2f,
    0 0 10px #adff2f,
    0 0 20px #adff2f;
}

.hero {
  padding: 80px 20px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  border: 2px solid #adff2f;
  border-radius: 30px;
  color: #adff2f;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #adff2f;
  color: #000;
  box-shadow:
    0 0 10px #adff2f,
    0 0 20px #adff2f;
}

.story {
  padding: 40px 20px;
}

.features {
  padding: 40px 20px;
}

.card {
  border: 1px solid #adff2f;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 0 15px #adff2f;
}

.spec {
  padding: 40px 20px;
}

.spec-box {
  border: 1px solid #adff2f;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

.cta {
  padding: 60px 20px;
}

.btn-menu{
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 4;
    padding: .5rem 1rem;
    border: 1px solid var(--brown);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    transition: .4s;
}

.btn-menu svg{
    fill: var(--brown);
    margin-top: .25rem;
    height: 2rem;
    width: 2rem;
}

#menu-close{
    border: 1px solid var(--light-green);
}

#menu-close svg{
    fill: var(--light-green);
}

#menu-panel{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  padding: 8rem 2rem 2rem;
  width: max(32vw, 20rem);
  height: 100vh;
  background-color: var(--brown);
  box-shadow: 0 0 2rem var(--brown);
  font-family: var(--oswald-font);
  translate: 100vw;
}

.menu-list{
    list-style: none;
}

.menu-list li{
    margin: 1.5rem 0;
}

.menu-list a{
    color: var(--light-green);
    text-decoration: none;
    font-size: 2rem;
}

.hero{
    height: 100vh;
    position: relative;
}

.fade-in{
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease;
}

.fadein.show{
  opacity: 1;
  transform: translateY();
}

.footer{
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
}